@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbars__container {
    /*background-color: white;*/
    /*border: 1px solid #333;*/
    /*border-radius: 12px;*/
    /*display: grid;*/
    /*height: 100%;*/
    /*grid-template: auto / 1fr 50px;*/
    /*overflow: hidden;*/
    position: relative;
    max-height: 80vh;
}

.custom-scrollbars__content {
    /*position: absolute;*/

    max-height: 80vh;
    -ms-overflow-style: none;
    overflow: auto;
    /*padding: 0 1rem;*/
    /*scrollbar-width: none;*/
}

.custom-scrollbars__content::-webkit-scrollbar {
    display: none;
}

.custom-scrollbars__scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    /*display: grid;*/
    /*gap: 1rem;*/
    /*grid-auto-flow: row;*/
    /*grid-template: auto 1fr auto / 1fr;*/
    /*padding-top: .5rem;*/
    /*padding-bottom: .5rem;*/
    /*margin-top: 35px;*/
    place-items: center;
}

.custom-scrollbars__track-and-thumb {
    display: block;
    height: 100%;
    position: relative;
    width: 8px;
}

.custom-scrollbars__track {
    background-color: transparent;
    border-radius: 12px;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 8px;
}

.custom-scrollbars__thumb {
    border-radius: 12px;
    background-color: #c0c0c0;
    position: absolute;
    width: 8px;
}

.custom-scrollbars__thumb:hover {
    background-color: #d1d5db;
}